<%- include ('./layout/navbar', {loggedIn: loggedIn}); %>

<div style="margin-top: 50px; margin-bottom: 50px;">
    <h3 class="heading" style="margin-left: 400px;">Our Supervisor</h3>
    <div class="row my-3 ml-10 mr-10" >
        <div class="col-md-4">
            <div class="card p-3 mb-2" style="height: 170px;width: 700px; margin-left: 400px; border-radius: 15px;">
                <div class="d-flex align-items-center">
                    <img src="/images/anonymous.webp" alt="Image" style="margin-top:5px;width: 100px; height: 100px; object-fit: cover; border-radius: 50%;margin-right: 50px;">
                    <div style="margin-top: 10px;">
                        <h4 class="heading">Md Hasebul Hasan Shawon</h4>
                        <h6 class="heading">Lecturer at Department of Computer Science and Engineering,
                        <h6 class="heading">Bangladesh University of Engineering and Technology</h6>
                        <h6 class="heading">Machine Learning Engineer at IQVIA</h6>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <h3 class="heading" style="margin-left: 400px;">Our Team</h3>
    <div class="row my-3 ml-10 mr-10" >
        <div class="col-md-4">
            <div class="card p-3 mb-2" style="height: 170px;width: 700px; margin-left: 400px; border-radius: 15px;">
                    <div class="d-flex align-items-center">
                        <div style="margin-top: 10px; margin-left:15px;margin-right: 65px;">
                            <h4 class="heading">Zarif Itmam Hossain</h4>
                            <h6 class="heading">Student at Department of Computer Science and Engineering,
                            <h6 class="heading">Bangladesh University of Engineering and Technology</h6>
                            <h6 class="heading">Student ID: 2105116</h6>
                        </div>
                        <img src="/images/anonymous.webp" alt="Image" style="margin-top:5px;width: 100px; height: 100px; object-fit: cover; border-radius: 50%; margin-left: 20px;">
                    </div>
                
            </div>
        </div>
    </div>
    <div class="row my-3 ml-10 mr-10" >
        <div class="col-md-4">
            <div class="card p-3 mb-2" style="height: 170px;width: 700px; margin-left: 400px; border-radius: 15px;">
                <div class="d-flex align-items-center">
                    <img src="/images/anonymous.webp" alt="Image" style="margin-top:5px;width: 100px; height: 100px; object-fit: cover; border-radius: 50%; margin-right: 50px;">
                    <div style="margin-top: 10px;">
                        <h4 class="heading">Md. Nazmul Islam Talukder</h4>
                        <h6 class="heading">Student at Department of Computer Science and Engineering,
                        <h6 class="heading">Bangladesh University of Engineering and Technology</h6>
                        <h6 class="heading">Student ID: 2105117</h6>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<%- include ('./layout/footer'); %>