<!DOCTYPE html>
<html lang="en">
<%- include ('./layout/navbar', {loggedIn: loggedIn}); %>

    <head>
        <link rel="stylesheet" href="/css/booking.css">
    </head>

    <body>
        <script>
            const stands = ['', 'Dhaka',
                'Bagerhat',
                'Bandarban',
                'Barguna',
                'Barisal',
                'Bhola',
                'Bogra',
                'Brahmanbaria',
                'Chandpur',
                'Chittagong',
                'Chuadanga',
                'Comilla',
                'Cox\'s Bazar',
                'Dinajpur',
                'Faridpur',
                'Feni',
                'Gaibandha',
                'Gazipur',
                'Gopalganj',
                'Habiganj',
                'Jamalpur',
                'Jessore',
                'Jhalokathi',
                'Jhenaidah',
                'Joypurhat',
                'Khagrachhari',
                'Khulna',
                'Kishoreganj',
                'Kurigram',
                'Kushtia',
                'Lakshmipur',
                'Lalmonirhat',
                'Madaripur',
                'Magura',
                'Manikganj',
                'Meherpur',
                'Moulvibazar',
                'Munshiganj',
                'Mymensingh',
                'Naogaon',
                'Narail',
                'Narayanganj',
                'Narsingdi',
                'Natore',
                'Nawabganj',
                'Netrakona',
                'Nilphamari',
                'Noakhali',
                'Pabna',
                'Panchagarh',
                'Patuakhali',
                'Pirojpur',
                'Rajbari',
                'Rajshahi',
                'Rangamati',
                'Rangpur',
                'Satkhira',
                'Shariatpur',
                'Sherpur',
                'Sirajganj',
                'Sunamganj',
                'Sylhet',
                'Tangail',
                'Thakurgaon'
            ]
            const times = ['', '08:00', '09:00', '10:00', '11:00', '12:00', '20:00', '21:00', '22:00', '23:00', '00:00'];
            const busTypes = ['', 'Sleeper Coach', 'AC Bus', 'Non-AC Bus']
            const busCompanies = ['', 'Shyamoli Paribahan', 'Soudia Air Con', 'Soudia Coach Service', 'Agomony Express', 'Akota Transport', 'Al-Mobaraka Paribahan', 'Alhamra Paribahan', 'Chaklader Paribahan', 'Comfort Line', 'Dhaka Line', 'Diganta Express', 'Diganta Paribahan', 'Dipjol Enterprise', 'Elish Paribahan', 'Ena Transport', 'Green Line Paribahan', 'Hanif Enterprise', 'HIMACHOL', 'Islam Paribahan', 'Kanak Paribahan', 'M M Paribahan', 'Manik Express', 'Nabil Paribahan', 'New S.B Super Deluxe', 'Star Line Special', 'Tisha Group', 'Tuba Line', 'Tungipara Express', 'Year-71', 'Ranga Provat Paribahan', 'Relax Transport', 'Royal Coach', 'Rozina Enterprise', 'S.B Super Deluxe', 'S.R Travels', 'Sagorika Enterprise', 'Saintmartin Hyundai', 'Saintmartin Paribahan', 'Saintmartin Travels', 'Shahzadpur Travels', 'Sheba Green Line', 'Sheba Transport', 'Shohagh Paribahan', 'Shoukhin Paribahan', 'Shuvo Bosundhara Paribahan', 'SP Golden Line']
        </script>
        <h1>Booking</h1>
        <form action="/booking_with_param" method="POST">
            <label for="start">Start Stand</label><br>
            <select name="startStandName" id="startStandName">
                <script>
                    stands.forEach(stand => {
                        document.write(`<option value="${stand}">${stand}</option>`)
                    })
                </script>
            </select><br>
            <label for="end">End Stand</label><br>
            <select name="endStandName" id="endStandName">
                <script>
                    stands.forEach(stand => {
                        document.write(`<option value="${stand}">${stand}</option>`)
                    })
                </script>
            </select><br>
            <label for="date">Date</label><br>
            <input type="date" name="date" id="date"><br>
            <label for="time">Select a time:</label><br>
            <select name="time" id="time">
                <script>
                    times.forEach(time => {
                        document.write(`<option value="${time}">${time}</option>`)
                    })
                </script>
            </select><br>
            <!-- <label for="busCompany">Bus Company</label><br>
            <select name="busCompany" id="busCompany">
                <script>
                    busCompanies.forEach(busCompany => {
                        document.write(`<option value="${busCompany}">${busCompany}</option>`)
                    })
                </script>
            </select><br> -->
            <label for="busType">Bus Type</label><br>
            <select name="busType" id="busType">
                <script>
                    busTypes.forEach(busType => {
                        document.write(`<option value="${busType}">${busType}</option>`)
                    })
                </script>
            </select><br>
            <button type="submit"
                class="btn btn-info sm m-2">Search</button><br>
        </form>
    </body>
    <%- include ('./layout/footer'); %>

</html>