<%- include ('./layout/navbar-bus-company',{result:result1}); %>


<head>
  <link rel="stylesheet" href="/css/routes.css">
</head>

  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }
    .chartMenu {
      width: 100vw;
      height: 40px;
      background: #1A1A1A;
      color: rgb(235, 163, 54);
    }
    .chartMenu p {
      padding: 10px;
      font-size: 20px;
    }
    .chartCard {
      width: 100vw;
      height: calc(100vh - 40px);
      /* background: ; */
      /* display: flex; */
      /* flex-direction: column; */
      align-items: center;
      justify-content: center;
    }
    .chartBox1 {
      width: auto;
      /* width: 80%; Adjust as needed */
      /* max-width: 4500px; /* Adjust as needed */
      /* height: 400px; /* Adjust as needed */
      height: 600px; /*Adjust as needed
      /* margin: 20px;  */ 
      padding: 20px;
      /* border-radius: 20px; */
      /* border: solid 3px rgba(54, 162, 235, 1); */
      background: white;
    }
    .chartBox2 {
      width: auto;
      /* width: 80%; Adjust as needed */
      /* max-width: 4500px; Adjust as needed */
      /* height: 400px; Adjust as needed */
      height: 600px; /* Adjust as needed */
      /* margin: 20px;  */
      padding: 20px;
      /* border-radius: 20px; */
      /* border: solid 3px rgba(54, 162, 235, 1); */
      background: white;
    }
  </style>
</head>
<body>
  <script>
      let result=JSON.parse('<%- JSON.stringify(result) %>');
      console.log(result)
      
  </script>
  <p><h2><b><i>&nbsp;&nbsp;<span id="busCompanyName"></span></i></b></h2></p>
  <p><h3><b>&nbsp;&nbsp;All Time Revenue: ৳ <span id="revenue"></span></b></h3></p>
  <p><h3><b>&nbsp;&nbsp;Total Tickets Sold: <span id="ticketsSold"></span></b></h3></p>
  <p><h3><b>&nbsp;&nbsp;Bus Rating: ⭐<span id="busRating"></span></b></h3></p>
  <br><br><br><br><br>
  <script>
      const busCompanyName=result.busCompanyInfo[0].BUS_COMPANY_NAME;
      document.getElementById('busCompanyName').innerText=busCompanyName;
      const revenue=result.revenue[0].REVENUE;
      document.getElementById('revenue').innerText=revenue;
      const ticektsSold=result.ticketInfo.length;
      document.getElementById('ticketsSold').innerText=ticektsSold;
      const busRating=result.rating[0].RATING;
      document.getElementById('busRating').innerText=busRating.toFixed(2);
  </script>
  <div class="chartCard">
    <p><h3><i><b>&nbsp;&nbsp;Revenue Stats</b></i></h3></p><br><br>
    <div class="chartBox1">
      <canvas id="myChart"></canvas>
    </div>
    <p><h3><i><b>&nbsp;&nbsp;Ticket Selling Stats</b></i></h3></p><br><br>
    <div class="chartBox2">
        <canvas id="myChart2"></canvas>
    </div>
    <div>
      <p><h3><i><b>&nbsp;&nbsp;User Reviews</b></i></h3></p><br><br>

      <div class="card-container">
        <% if (Array.isArray(reviewResult)) { %>
        <% reviewResult.forEach(function(review) { %>
            <%- include('./reviewCard', {review: review}); %>
        <% }); %>
        <% } else if (reviewResult) { %>
            <% reviewResult = [reviewResult]; // Convert to array if not already %>
            <% reviewResult.forEach(function(review) { %>
                <%- include('./reviewCard', {review: review}); %>
            <% }); %>
        <% } else { %>
            <p>No data available.</p>
        <% } %>

      </div>

                    
    </div>
  </div>
  
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>
  <script>
    let months = [];
    let revenue_data = [];
    let months2=[];
    let ticket_data=[];
    for (let i = 0; i < result.revenuePerMonth.length; i++) {
      months.push(result.revenuePerMonth[i].MONTH);
      revenue_data.push(result.revenuePerMonth[i].REVENUE);
    }
    for(let i=0;i<result.ticketSells.length;i++){
        months2.push(result.ticketSells[i].MONTH);
        ticket_data.push(result.ticketSells[i].TICKETS_SOLD);
    }

    // Chart 1
    const data = {
      labels: months,
      datasets: [{
        label: 'Monthly Revenue',
        data: revenue_data,
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(0, 0, 0, 0.2)'
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(0, 0, 0, 1)'
        ],
        borderWidth: 1
      }]
    };

    const config = {
      type: 'bar',
      data,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    // // Chart 2
    const data2 = {
      labels: months2,
      datasets: [{
        label: 'Monthly Tickets Sold',
        data: ticket_data,
        backgroundColor: [
          'rgba(255, 26, 104, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(255, 206, 86, 0.2)',
          'rgba(75, 192, 192, 0.2)',
          'rgba(153, 102, 255, 0.2)',
          'rgba(255, 159, 64, 0.2)',
          'rgba(0, 0, 0, 0.2)'
        ],
        borderColor: [
          'rgba(255, 26, 104, 1)',
          'rgba(54, 162, 235, 1)',
          'rgba(255, 206, 86, 1)',
          'rgba(75, 192, 192, 1)',
          'rgba(153, 102, 255, 1)',
          'rgba(255, 159, 64, 1)',
          'rgba(0, 0, 0, 1)'
        ],
        borderWidth: 1
      }]
    };

    const config2 = {
      type: 'bar',
      data: data2,
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    };

    const myChart2 = new Chart(
      document.getElementById('myChart2'),
      config2
    );

    // Instantly assign Chart.js version
    const chartVersion = document.getElementById('chartVersion');
    chartVersion.innerText = Chart.version;
  </script>

  <!-- user reviews for the bus in card format -->
  

</body>
