<%- include('./layout/navbar-bus-company') %>

<head>
    <link rel="stylesheet" href="/css/booking.css">
</head>

<body>
    <script>
        const stands = ['', 'Dhaka',
            'Bagerhat',
            'Bandarban',
            'Barguna',
            'Barisal',
            'Bhola',
            'Bogra',
            'Brahmanbaria',
            'Chandpur',
            'Chittagong',
            'Chuadanga',
            'Comilla',
            'Cox\'s Bazar',
            'Dinajpur',
            'Faridpur',
            'Feni',
            'Gaibandha',
            'Gazipur',
            'Gopalganj',
            'Habiganj',
            'Jamalpur',
            'Jessore',
            'Jhalokathi',
            'Jhenaidah',
            'Joypurhat',
            'Khagrachhari',
            'Khulna',
            'Kishoreganj',
            'Kurigram',
            'Kushtia',
            'Lakshmipur',
            'Lalmonirhat',
            'Madaripur',
            'Magura',
            'Manikganj',
            'Meherpur',
            'Moulvibazar',
            'Munshiganj',
            'Mymensingh',
            'Naogaon',
            'Narail',
            'Narayanganj',
            'Narsingdi',
            'Natore',
            'Nawabganj',
            'Netrakona',
            'Nilphamari',
            'Noakhali',
            'Pabna',
            'Panchagarh',
            'Patuakhali',
            'Pirojpur',
            'Rajbari',
            'Rajshahi',
            'Rangamati',
            'Rangpur',
            'Satkhira',
            'Shariatpur',
            'Sherpur',
            'Sirajganj',
            'Sunamganj',
            'Sylhet',
            'Tangail',
            'Thakurgaon'
        ]
        const times = ['', '08:00', '09:00', '10:00', '11:00', '12:00', '20:00', '21:00', '22:00', '23:00', '00:00'];
        const busTypes = ['', 'Sleeper Coach', 'AC Bus', 'Non-AC Bus']
        const busCompanies = ['', 'Shyamoli Paribahan', 'Soudia Air Con', 'Soudia Coach Service', 'Agomony Express', 'Akota Transport', 'Al-Mobaraka Paribahan', 'Alhamra Paribahan', 'Chaklader Paribahan', 'Comfort Line', 'Dhaka Line', 'Diganta Express', 'Diganta Paribahan', 'Dipjol Enterprise', 'Elish Paribahan', 'Ena Transport', 'Green Line Paribahan', 'Hanif Enterprise', 'HIMACHOL', 'Islam Paribahan', 'Kanak Paribahan', 'M M Paribahan', 'Manik Express', 'Nabil Paribahan', 'New S.B Super Deluxe', 'Star Line Special', 'Tisha Group', 'Tuba Line', 'Tungipara Express', 'Year-71', 'Ranga Provat Paribahan', 'Relax Transport', 'Royal Coach', 'Rozina Enterprise', 'S.B Super Deluxe', 'S.R Travels', 'Sagorika Enterprise', 'Saintmartin Hyundai', 'Saintmartin Paribahan', 'Saintmartin Travels', 'Shahzadpur Travels', 'Sheba Green Line', 'Sheba Transport', 'Shohagh Paribahan', 'Shoukhin Paribahan', 'Shuvo Bosundhara Paribahan', 'SP Golden Line']
    </script>
<section>
    <div class="form-box">
        <div class="form-value">
            <form action="/bus-company-profile/insert" method="POST">
                <h2>Insert Bus</h2> 
                <input type="hidden" name="busCompanyName" value="<%= result[0].BUS_COMPANY_NAME %>">

                <label for="start">Start Stand</label><br>
                <select name="startStandName" id="startStandName">
                    <script>
                        stands.forEach(stand => {
                            document.write(`<option value="${stand}">${stand}</option>`)
                        })
                    </script>
                </select><br>
                <label for="end">End Stand</label><br>
                <select name="endStandName" id="endStandName">
                    <script>
                        stands.forEach(stand => {
                            document.write(`<option value="${stand}">${stand}</option>`)
                        })
                    </script>
                </select><br>

                <!-- Intermediate stands -->
                <div id="intermediateStands">
                    <label for="intermediate">Intermediate Stands</label><br>
                    <select name="intermediateStand" class="intermediateStand">
                        <script>
                            stands.forEach(stand => {
                                document.write(`<option value="${stand}">${stand}</option>`)
                            })
                        </script>
                    </select>
                    
                </div>
                <div id="intermediateStands" hidden>
                    <label for="intermediate">Intermediate Stands</label><br>
                    <select name="intermediateStand" class="intermediateStand">
                        <script>
                            document.write(`<option value="">""</option>`)
                        </script>
                    </select>
                    
                </div>
                
                <label for="schedule">Schedule</label><br>
                <div style="display: flex; align-items: center;">
                    <select name="scheduleFrom" id="scheduleFrom" style="margin-right: 10px;">
                        <script>
                            times.forEach(time => {
                                document.write(`<option value="${time}">${time}</option>`)
                            })
                        </script>
                    </select>
                    <select name="scheduleTo" id="scheduleTo" style="margin-left: 10px;">
                        <script>
                            times.forEach(time => {
                                document.write(`<option value="${time}">${time}</option>`)
                            })
                        </script>
                    </select>
                </div>
                

                <label for="busType">Bus Type</label><br>
                <select name="busType" id="busType">
                    <script>
                        busTypes.forEach(busType => {
                            document.write(`<option value="${busType}">${busType}</option>`)
                        })
                    </script>
                </select><br>

                <label for="ticketPrice">Ticket Price</label><br>
                <input type="text" name="ticketPrice" id="ticketPrice" required><br>

                <label for="licensePlate">License Plate</label><br>
                <input type="text" name="licensePlate" id="licensePlate" required><br><br>

                <!-- hidden labels for intermediate stand, with button add intermediate stand -->
                <div style="display: flex; justify-content: space-between;">
                <button type="button" onclick="addIntermediateStand()" class="btn btn-info btn-sm m-2">Add Intermediate Stand</button>
                <button type="submit" class="btn btn-info btn-sm m-2" >Insert</button>
                </div>
            </form>             
            
        </div>
    </div>
</section>

<script>
    function addIntermediateStand() {
        const intermediateStandsDiv = document.getElementById('intermediateStands');
        const selectElement = document.createElement('select');
        selectElement.name = 'intermediateStand';
        selectElement.classList.add('intermediateStand');

        stands.forEach(stand => {
            const optionElement = document.createElement('option');
            optionElement.value = stand;
            optionElement.textContent = stand;
            selectElement.appendChild(optionElement);
        });

        intermediateStandsDiv.appendChild(selectElement);
    }
</script>

</body>

<%- include('./layout/footer') %>

</body>
</html>

