<!-- routes.ejs -->

<!DOCTYPE html>
<html lang="en">

    <%- include ('./layout/navbar', {loggedIn: loggedIn}); %>
    <head>
        <link rel="stylesheet" href="/css/routes.css">
    </head>
<body>

    <h1 style="text-align: center;">Routes</h1>

    <div class="card-container">
        <% if (Array.isArray(result)) { %>
        <% result.forEach(function(route) { %>
            <%- include('./routecard', {route: route}); %>
        <% }); %>
    <% } else if (result) { %>
        <% result = [result]; // Convert to array if not already %>
        <% result.forEach(function(route) { %>
            <%- include('./routecard', {route: route}); %>
        <% }); %>
    <% } else { %>
        <p>No data available.</p>
    <% } %>
    </div>
</body>

<%- include ('./layout/footer'); %>

</html>
