<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seats</title>
    <link rel="stylesheet" href="/css/seats-ac.css">
</head>
<body>
    <div class="plane">
        <div class="select">
            <h1>Select your seats</h1>
        </div>
        <div class="exit"></div>
        <ol>
            <li>
                <ol class="seats">
                    <li class="seat">
                        <input type="checkbox" id="1A" onclick="updateCost()">
                        <label for="1A">1A</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="1B" onclick="updateCost()">
                        <label for="1B">1B</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="1C" onclick="updateCost()">
                        <label for="1C">1C</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="1D" onclick="updateCost()">
                        <label for="1D">1D</label>
                    </li>
                </ol>
            </li>
            <li>
                <ol class="seats">
                    <li class="seat">
                        <input type="checkbox" id="2A" onclick="updateCost()">
                        <label for="2A">2A</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="2B" onclick="updateCost()">
                        <label for="2B">2B</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="2C" onclick="updateCost()">
                        <label for="2C">2C</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="2D" onclick="updateCost()">
                        <label for="2D">2D</label>
                    </li>
                </ol>
            </li>
            <li>
                <ol class="seats">
                    <li class="seat">
                        <input type="checkbox" id="3A" onclick="updateCost()">
                        <label for="3A">3A</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="3B" onclick="updateCost()">
                        <label for="3B">3B</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="3C" onclick="updateCost()">
                        <label for="3C">3C</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="3D" onclick="updateCost()">
                        <label for="3D">3D</label>
                    </li>
                </ol>
            </li>
            <li>
                <ol class="seats">
                    <li class="seat">
                        <input type="checkbox" id="4A" onclick="updateCost()">
                        <label for="4A">4A</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="4B" onclick="updateCost()">
                        <label for="4B">4B</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="4C" onclick="updateCost()">
                        <label for="4C">4C</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="4D" onclick="updateCost()">
                        <label for="4D">4D</label>
                    </li>
                </ol>
            </li>
            <li>
                <ol class="seats">
                    <li class="seat">
                        <input type="checkbox" id="5A" onclick="updateCost()">
                        <label for="5A">5A</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="5B" onclick="updateCost()">
                        <label for="5B">5B</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="5C" onclick="updateCost()">
                        <label for="5C">5C</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="5D" onclick="updateCost()">
                        <label for="5D">5D</label>
                    </li>
                </ol>
            </li>
            <li>
                <ol class="seats">
                    <li class="seat">
                        <input type="checkbox" id="6A" onclick="updateCost()">
                        <label for="6A">6A</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="6B" onclick="updateCost()">
                        <label for="6B">6B</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="6C" onclick="updateCost()">
                        <label for="6C">6C</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="6D" onclick="updateCost()">
                        <label for="6D">6D</label>
                    </li>
                </ol>
            </li>
            <li>
                <ol class="seats">
                    <li class="seat">
                        <input type="checkbox" id="7A" onclick="updateCost()">
                        <label for="7A">7A</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="7B" onclick="updateCost()">
                        <label for="7B">7B</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="7C" onclick="updateCost()">
                        <label for="7C">7C</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="7D" onclick="updateCost()">
                        <label for="7D">7D</label>
                    </li>
                </ol>
            </li>
            <li>
                <ol class="seats">
                    <li class="seat">
                        <input type="checkbox" id="8A" onclick="updateCost()">
                        <label for="8A">8A</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="8B" onclick="updateCost()">
                        <label for="8B">8B</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="8C" onclick="updateCost()">
                        <label for="8C">8C</label>
                    </li>
                    <li class="seat">
                        <input type="checkbox" id="8D" onclick="updateCost()">
                        <label for="8D">8D</label>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</body>
</html> 