<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CliqBus</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.17.0/font/bootstrap-icons.css">

    <link rel="stylesheet" href="/css/navbar.css">
</head>
<style>
.rounded-circle-sm-img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
   }
   .rounded-circle-m-img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
   }
</style>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-link" href="/home">
                <img src="/images/logo/logo.jpg" class="rounded-circle-sm-img" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link" href="/routes">Routes</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/booking">Booking</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://mail.google.com/mail/?view=cm&fs=1&to=cliqbus@cliqbus.co&su=Regarding%20your%20website">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/search"><img src="/images/search.svg"></a>
                    </li>   
                    <li class="nav-item">
                        <% if(userName!==undefined) {%>
                            <a class="nav-link" href="/user_profile"><%= userName %></a>
                        <% } %>
                    </li>                 
                    <li class="nav-item">
                        <a class="nav-link" href="/user_profile">
                            <% if(profilePic===undefined) { %>
                                <img src="/images/user.svg">
                            <% } else { %>
                                <img src="<%= profilePic %>" class="rounded-circle-sm-img">
                            <% } %>
                        </a>
                    </li>
                    <% if(loggedIn) { %>
                        <li class="nav-item">
                            <a id="loginLink" class="nav-link" href="/logout">Logout</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a id="loginLink" class="nav-link" href="/login">Login</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
</body>